.ProductModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.ProductModal.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.ProductModal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.85);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.ProductModal.isOpen .overlay {
  opacity: 1;
}

.ProductModal .body {
  max-width: 520px;
  width: calc(100% - 20px - 20px);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 36px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
}

.ProductModal.isOpen .body {
  opacity: 1;
  transform: translateY(0);
}

.ProductModal img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

.ProductModal button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}

.ProductModal .price {
  font-size: 24px;
  text-align: right;
  font-weight: bold;
}

.ProductModal .price small {
  font-size: 18px;
  font-weight: normal;
}
