.ModalBodySidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 36px rgba(0, 0, 0, 0.25);
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
}
.ModalBodySidebar.is-open {
  opacity: 1;
  transform: translateX(0);
}

.ModalBodySidebar header {
  display: flex;
  align-items: center;
}

.ModalBodySidebar__title {
  flex-grow: 1;
  text-align: center;
  margin: 10px 0;
}

.ModalBodySidebar__content {
  flex-grow: 1;
}

@media (min-width: 700px) {
  .ModalBodySidebar {
    width: 500px;
  }
}
